* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.header {
    display: flex;
    flex-direction: column;
}

.top_bar {
    height: 83px;
    display: flex;
    justify-content: space-between;
    margin: 0 32px;
    align-items: center;
}

.nav {
    width: 1107px;
    display: flex;
    justify-content: space-between;
}

.nav > div {
    display: flex;
}

.nav_menu_first {
    column-gap: 48px;
    align-items: center;
}

.nav_menu_second {
    column-gap: 24px;
    align-items: center;
}

.nav_menu__item > a {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
}

.nav_menu__item > img {
    margin-left: 8px;
}

.nav_menu__item_btn {
    height: 54px;
    background: #0B2330;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 0 29px;
}

.header_content_wrap {
    height: 886px;
    display: flex;
    justify-content: space-between;
}

.header_content {
    width: 448px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin-top: 154px;
    margin-left: 147px;
}

.header_content > h1 {
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
    color: #0B2330;
}

.header_content > p {
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #375361;
}

.header_content__btns {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    margin-top: 6px;
}

.header_content__btns > button {
    height: 54px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 29px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.header_content__btn_first {
    background: #F9C600;
    border: 1px solid #F9C600;
}

.header_content__btn_second {
    background: none;
    border: 1px solid #0B2330;
}

.header_content_image {
    width: 600px;
    background: #F9C600;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_content_image_first {
    position: relative;
    width: 608px;
    top: 172px;
    right: 102px;
}

.content_companies {
    height: 544px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_companies__header {
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
    width: 547px;
    text-align: center;
    letter-spacing: 0.42px;
    margin-top: 189px;
    margin-bottom: 59px;
}

.content_3 {
    height: 877px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_3__block {
    width: 1376px;
    height: 494px;
    background: #51CEBC;
    border-radius: 10px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.content_3__block__content {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

.content_3__block__content > h2 {
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #0B2330;
    width: 557px;
}

.content_3__block__content > p {
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #0B2330;
    width: 533px;
    margin-bottom: 30px;
}

.content_4 {
    height: 945px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_4 > h2 {
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.34px;
    color: #0B2330;
    width: 711px;
    margin-bottom: 57px;
}

.content_4__btn {
    height: 54px;
    background: #F9C600;
    border: 1px solid #F9C600;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 113px 0;
    padding-left: 29px;
    padding-right: 29px;
}
.content_5{
    height: 537px;
    background: #BD78F0;
    border-radius: 10px;
    margin: 47px 32px 0 148px;
    display: flex;
    justify-content: space-between;
}
.content_5__txt_content{
    margin: 106px 116px 123px 0;
    width: 562px;
    height: 308px;

}
.content_5__txt_content > h2{
    width: 485px;
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.42px;
    color: #0B2330;
    margin-bottom: 39px;
}
.content_5__txt_content > p{
    width: 550px;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #0B2330;
}
.content_5__img{
    position: relative;
    top: 64px;
    right: 116px;
}

.content_6{
    height: 1793px;
    margin: 136px 32px 148px 148px;
    display: flex;
    flex-direction: column;
}
.content_6__block_1{
    height: 458px;
}
.content_6__block_1 > h6{
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #6A7981;
}
.content_6__block_1 > h2{
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.42px;
    color: #0B2330;
    width: 593px;
    margin: 13px 0;
}
.content_6__block_1 > p{
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #375361;
    width: 500px;
    margin-top: 13px;
}
.content_6__block_type_2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content_6__block_type_2_txt > h2{
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #0B2330;
    margin-top: 23px;
    margin-bottom: 29px;
}
.content_6__block_type_2_txt > p{
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #375361;
    width: 484px;
}
.content_6__btn{
    padding-left: 29px;
    padding-right: 29px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    height: 54px;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    background: none;
    margin-top: 36px;
}
.content_6__block_2{
    height: 348px;
    margin-bottom: 121px;
}
.content_6__block_3{
    height: 329px;
    margin-bottom: 97px;
}
.content_6__block_4{
    height: 440px;
}
.content_6__block_2 p{
    margin-bottom: 28px;
}
.content_6__btn-s_bottom{
    display: flex;
    column-gap: 8px;
    margin-top: 18px;
}
.content_6__btn-s_bottom > button{
    height: 23px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    text-align: start;
    padding-left: 8px;
}
.content_6__btn_bottom_1,
.content_6__btn_bottom_2{
    color: #61757E;
    background: #E7EAEB;
}
.content_6__btn_bottom_1{
    width: 228px;
}
.content_6__btn_bottom_2{
    width: 147px;
}
.content_6__btn_bottom_3{
    background: #FE9F28;
    color: #0B2330;
    width: 152px;
}
.content_7{
    height: 960px;
    background: #F2EDE7;
    display: flex;
    flex-direction: column;
    row-gap: 122px;
    padding-top: 96px;
    padding-left: 122px;
    box-sizing: border-box;
}
.content_7__header > h6{
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #375361;
    margin-bottom: 10px;
}
.content_7__header > h2{
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
    color: #0B2330;
    width: 1064px;
}
.content_7__content{
    display: flex;
    flex-direction: row;
    column-gap: 224px;
}
.content_7__content_txt{
    width: 588px;
    border-top: 2px solid #C9316F;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.content_7__content_txt_vector{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}
.content_7__content_txt h3{
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #0B2330;
    margin-bottom: 25px;
}
.content_7__content_txt p{
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #375361;
    width: 563px;
    margin-bottom: 35px;
}
.content_7__content_txt_block_1 > div:nth-child(4){
    display: flex;
    padding-bottom: 22px;
}
.content_7__content_txt_block_1 h5{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #0B2330;
    margin-right: 8px;
}
.content_7__content_txt_block_1 > div:nth-child(4) > div{
    margin-top: 5px;
}
.brd_bot_silv{
    border-bottom: 2px solid #C3CACD;;
}
.padd_30{
    padding-bottom: 30px;
}
.content_8{
    height: 418px;
    margin: 160px 0 240px 148px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content_8_txt{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 24px;
}
.content_8_txt > h6{
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #375361;
    margin-bottom: 15px;
}
.content_8_txt > h2{
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #0B2330;
    width: 669px;
}
.content_8_txt > p{
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #375361;
    width: 667px;
    margin-top: 37px;
    margin-bottom: 36px;
}
.content_8_txt > button{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
    height: 54px;
    background: #F9C600;
    border: 1px solid #F9C600;
    box-sizing: border-box;
    border-radius: 4px;
    width: 208px;
    padding-left: 29px;
    padding-right: 29px;
}
.content_9{
    height: 584px;
    margin: 0 32px 46px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background: #F2EDE7;
    border-radius: 10px;
}
.content_9__box_1{
    width: 582px;
    background: #F2EDE7;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
    padding-top: 80px;
    padding-left: 116px;
}
.content_9__box_2{
    width: 794px;
    background: #F9C600;
    border-radius: 0 10px 10px 0;
}
.content_9__box_1 > h6{
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #375361;
    margin-bottom: 17px;
}
.content_9__box_1 > h3{
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #0B2330;
    width: 314px;
    margin-bottom: 27px;
}
.content_9__box_1 > p{
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #0B2330;
    width: 325px;
    margin-bottom: 36px;
}
.content_9__box_1 > button{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    height: 54px;
    padding-left: 29px;
    padding-right: 29px;
    background: none;
}
.content_9__box_2_img{
    position: absolute;
}
.content_9__box_2 > p{
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #000000;
    width: 557px;
    margin-top: 79px;
    margin-left: 116px;
}
.content_9__box_2__txt_icon{
    display: flex;
    margin-top: 81px;
    column-gap: 24px;
    margin-left: 116px;
}
.content_9__box_2__txt{
    margin-top: 14px;
}
.content_9__box_2__txt > p:nth-child(1){
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
}
.content_9__box_2__txt > p:nth-child(2){
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #2F3F48;
}

.footer{
    height: 1101px;
    box-sizing: border-box;
    background: #0B2330;
}
.content_10{
    height: 423px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 53px 32px 0;
}
.content_10 > h2{
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.42px;
    color: #FFFFFF;
}
.content_10 > p{
    width: 642px;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 31px;
    margin-bottom: 36px;
}
.content_10 > button{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #0B2330;
    height: 54px;
    background: #F9C600;
    border: 1px solid #F9C600;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 29px;
    padding-right: 29px;
}
.content_10 > hr{
    background: #375361;
    width: 100%;
    border: 0;
    height: 1px;
    margin-top: 96px;
}
.footer__block{
    height: 678px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 80px 32px 0;
}
.footer__block_blks_items{
    display: flex;
    box-sizing: border-box;
}
.footer__block_blks_items > div{
    width: 236px;
    box-sizing: border-box;
}
.footer__block_blks_items h5{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    width: 162px;
}
.footer__block_blks_items a{
    color: #94A0A4;
}
.txt_yellow_special_style{
    color: #F9C600;
    margin-bottom: 13px;
}
.txt_silver_style{
    color: #94A0A4;
    margin-bottom: 14px;
}
.footer__block_rights{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.footer__block_rights__txt{
    margin-top: 55px;
    margin-left: 236px;
}
.footer__block_rights__txt > h5{
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #94A0A4;
}
.footer__block_rights__icons{
    display: flex;
    box-sizing: border-box;
    column-gap: 24px;
    margin-top: 51px;
    margin-right: 118px;
}

