body{
    background: #272727;
}
.heightWidthRad{
    height: 50px;
    width: 170px;
    border-radius: 30px;
    box-sizing: border-box;
    margin: 15px;
    padding-top: 9px;
    padding-left: 44px;
}
.bordOrange{
    border: 5px solid #ff6f1f;
    color: #ff6f1f;
}
.bordBlue{
    border: 5px solid #2efff2;
    color: #2efff2;
}
.bordPurple{
    border: 5px solid #ff55a7;
    color: #ff55a7;
}
.bordRed{
    border: 5px solid #ff3f3f;
    color: #ff3f3f;
}

